@mixin atCenter{
    display : flex;
    justify-content: center;
    align-items: center;
}

@mixin lg($direction, $color...){
    background-image: linear-gradient($direction, $color);
}

@mixin backgroundClip {
    background-clip: text;
    color:transparent;
}

/* MEDIA QUERY
    0 to 600 >> phone
    600 to 900 >> tab port
    900 to 1200 >> tab landscape
    1200+ >> is where our normal css will apply 

*/

@mixin responsive-phone{
    @media (max-width:600px) {
        @content;
    }
}

@mixin responsive($breakpoint){
    @if $breakpoint == phone{
        @media (max-width:600px) {
            @content;
        }
    }
    @if $breakpoint == tabport{
        @media (max-width:900px){
            @content;
        }
    }
    @if $breakpoint == tabland{
        @media (max-width:1200px){
            @content;
        }
    }
}

// @mixin responsive-tabport{
//     @media (max-width:900px) {
//         @content;
//     }
// }

// @mixin responsive-tabland{
//     @media (max-width:1200px) {
//         @content;
//     }
// }