.footer{
    padding: 6.25rem 0;
    background-color: $color-gray-light;

    &-logo{
        display: inline-block;
        width:9.375rem;
    
        > img{
            width: 100%;
        }
    }
    &-navigation{
        list-style: none;
        >li{
            display: inline-block;
            margin-right: 1rem;

            >a{
                &:link,&:visited{
                text-decoration: none;
                color: $color-white;
                text-transform: uppercase;
                display: inline-block;
                transition: all .3s ease-in-out;
                }
                &:hover, &:focus, &:active{
                    transform: scale(1.2);
                    box-shadow: 0 10px 20px rgba($color-dark, .4);
                    @include backgroundClip;
                    @include lg(to right, $color-primary-light, $color-primary-dark);

                }
            }
        }
    }
    &-copyright{
        color:$color-white;
        text-align:justify;
    }
}
